<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card " *ngIf="!showLogin">
                <div class="seller">
                    <div class="sign-up">
                        <h2 class="card-header ">Sign_up</h2>
                        <div class="card-body">
                            <form [formGroup]="Nagesh">
                                <div class="form-group">
                                    <label for="" class="form-label">Name</label>
                                    <input type="text" formControlName="Name" class="form-control" name="Name"
                                        placeholder="Enter Name">
                                </div><br>
                                <div class="form-group md-5">
                                    <label for="" class="form-label">Enter Password</label>
                                    <input type="password" formControlName="Password" class="form-control" name="Password"
                                        placeholder="Enter Password">
                                </div><br>
                                <div class="form-group md-5">
                                    <label for="" class="form-label">Email ID</label>
                                    <input type="email" formControlName="Email" class="form-control" name="Email"
                                        placeholder="Enter EmailId">
                                </div><br>
                                <div class="form-group">
                                    <button class=" form-control btn btn-primary" (click)="singupFun()">SignUp</button>
                                </div>
                                <h6 type="submit" (click)="loginFun()">Already Have Account?<a [routerLink]="'/Login'" class="text-info m-5"> Click to login</a></h6>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



